<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/smoothscroll.js"></script>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/lightbox.min.css">
        <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/theme/js/respond.min.js" type="text/javascript"></script>
        <![endif]-->
        <script src="{{ SITEURL }}/theme/js/lightbox.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}

        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% endblock head %}
</head>
<body>
    <header>
        <h1>
            <a href="{{ SITEURL }}/">
                <img src="{{ SITEURL }}/theme/images/logo.png" title="Kresus logo"/>
                {{ SITENAME }}
            </a>
        </h1>

        <nav>
            <ul>
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/blog">Blog</a></li>
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            </ul>

            <ul class="social">
                <li>
                    <a href="https://framagit.org/bnjbvr/kresus" class="fa fa-code" title="Code"></a>
                </li>
                <li>
                    <a href="https://tutut.delire.party/@kresus" class="icon-mastodon"><img src="{{ SITEURL }}/theme/images/mastodon.svg" title="Mastodon"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/kresusapp" class="fa fa-twitter" title="Twitter"></a>
                </li>
                <li>
                    <a href="https://framalistes.org/sympa/subscribe/kresus" class="fa fa-envelope-o" title="Liste de discussion"></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer id="contentinfo" class="body">
        Ce site est fièrement propulsé par <a href="http://getpelican.com/">Pelican</a>,
        qui tire largement profit de <a href="http://python.org">Python</a>.
    </footer>

    {% include "includes/piwik.html" %}
    <script>
        var lightbox = new Lightbox();
        lightbox.load();
    </script>
</body>
</html>
