{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block content %}
    {% if page.toc %}
    <div class="pagination">
        <h1>{{ page.toc_title }}</h1>
        {{ page.toc }}
    </div>
    {% endif %}

    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
{% endblock %}
