{% if DEFAULT_PAGINATION %}
<p class="paginator">
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="smallButton">
            <span class="fa fa-backward"></span>&nbsp;Anciens articles
        </a>
    {% endif %}

    <span>
        Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    </span>

    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="smallButton">
            Articles récents&nbsp;<span class="fa fa-forward"></span>
        </a>
    {% endif %}
</p>
{% endif %}
